table {
  border-collapse: collapse;
  width: 100%;
}
th,td {border-style: solid; border-width: 1px; padding: 5px;}
th.date {width: 100px;}
tr.highlighted {background-color: #ffff99;}
tr.monday {
  border-top-color: #ffd500;
  border-top-width: 9px;
  border-top-style: double;
}
tr.updated {background-color: #d9ffdd;}
td {
  text-align: center;
  vertical-align: top;
}
td.firstCol {white-space: nowrap;}
td.content {text-align: left}

button.submit, button.cancel {
  padding: 1px;
  margin: 3px;
  border: 1px;
  border-style: dotted;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
  font-size: 110%;
}

button.submit {display:inline;}
button.cancel {float: right;}

textarea {width: 100%; height: 200px;}

label {vertical-align: middle;}

#Message {background-color: #ffff99; margin-top: 5px; padding: 3px;}
