div#iframes {text-align:center;margin:0; padding:0;}
iframe {display: inline-block; width: 49%; height: 1000px; margin: auto;border:1px solid;}

table {border-collapse: collapse;}
th,td {border-style: solid; border-width: 1px; padding: 5px;}
th.date {width: 100px;}
tr.highlighted {background-color: #ffff99;}
tr.monday {background-color: #ffff99;}
tr.updated {background-color: #87ff87;}

td {vertical-align: top;}
td.firstCol {white-space: nowrap;}

input {margin: 5px;}

button.submit, button.cancel {
  padding: 1px;
  margin: 3px;
  border: 1px;
  border-style: dotted;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
  font-size: 110%;
}

button.submit {display:inline;}
button.cancel {float: right;}

textarea {width: 100%; height: 200px;}

label {vertical-align: middle;}

#Message {background-color: #ffff99; margin-top: 5px; padding: 3px;}
